
// Color variations

$main-color: #9356DC;

$secondary-color:#FF79DA;

$third-color: #99E2D0;

// General rules for body

body {

min-width: 320px;
font-family: 'Roboto', sans-serif;
}

// Font variation for titles 

.font_logo__title { 
    font-family: 'Shrikhand', cursive;  

}
