.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color-2;
    padding: 40px 30px;
    & h1 {
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 15px;
        @include breakpoint (desktop){

            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
        }

    }
    & h2 {
        font-weight: 300;
        font-size: 18px;
        padding-bottom: 20px;
        @include breakpoint (desktop){
            margin: 18px 0px;
        }
    }
   
}