.footer {
display:flex;
flex-direction: column;
justify-content: space-between;
background-color: $background-color-6;
color: white;
padding-left: 25px;
&__title {
    padding : 22px 0px 16px 0px;

}

&__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 7px;
    
    & i {
        padding-right: 10px;
    }

}
}