.navigation {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   &__location {

        font-size: 16px;
        font-weight: 400;
        background-color: $background-color-3;
        &--padding {
            padding: 15px 0px;
     
        }
        & i {

            padding-right: 17px; 

        }
    }
}

