.like-button {
position: relative;
z-index: 1;
opacity: 1;
-webkit-background-clip: text;

}
.like-button--full{
    cursor: pointer;

}
.like-button:hover {
    transition: color 0.5s ease-in-out;
    color: transparent;
    
}

.like-button--full::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: transparent;
    -webkit-background-clip: text; 
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;

}
.like-button--full:hover::before {
    opacity: 1;
    z-index: 1;
}