//  General rule for body 
body {

    font-family: 'Roboto', cursive;
}
// Font variation for titles 

.font__title { 
    font-family: 'Shrikhand', cursive; 
     
    &--large {
        font-size: 30px;
    }
    &--medium {
        font-size: 25px;
    }
    &--small {
        font-size: 18px;
    }
}