/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font: inherit;
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", cursive;
}

.font__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.font__title--small {
  font-size: 18px;
}

.center--x {
  justify-content: center;
  text-align: center;
}

.padding__logo {
  padding-top: 15px;
  padding-bottom: 5px;
}

.navigation {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.navigation__location {
  font-size: 16px;
  font-weight: 400;
  background-color: #F7F7F7;
}
.navigation__location--padding {
  padding: 15px 0px;
}
.navigation__location i {
  padding-right: 17px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 285px;
  background-color: #EAEAEA;
}
.cta h1 {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 15px;
}
.cta h2 {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
}

.howto {
  display: flex;
  flex-direction: column;
  height: 440px;
  margin: 0px 20px;
}
.howto__title {
  margin-top: 9%;
  font-weight: 700;
  font-size: 24px;
}
.howto__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: decimal;
  height: 75%;
}
.howto__list__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 72px;
}
.howto__list__items:nth-child(1):before {
  content: "1";
}
.howto__list__items:nth-child(2):before {
  content: "2";
}
.howto__list__items:nth-child(3):before {
  content: "3";
}
.howto__list__items:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.howto__list__items i {
  color: #7E7E7E;
}
.howto__list__items:hover > i {
  color: #9356DC;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  color: white;
  padding-left: 25px;
}
.footer__title {
  padding: 22px 0px 16px 0px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 7px;
}
.footer__list i {
  padding-right: 10px;
}

.loader {
  position: absolute;
  z-index: 99999;
  height: 2500px;
  width: 100vw;
  background-color: #7E7E7E;
  color: white;
  overflow-y: hidden;
  scroll-behavior: unset;
  animation: vanish ease-in-out forwards;
  animation-delay: 2.8s;
  animation-duration: 0.8s;
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1000;
  }
}
.loader-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader-elements p {
  position: absolute;
}

.bouncy-circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 1rem;
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  animation: bouncing 0.5s alternate infinite ease;
}
.circle--purple {
  background-color: #9356DC;
}
.circle--pink {
  background-color: #FF79DA;
}
.circle--teal {
  background-color: #99E2D0;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

.circle:nth-child(4) {
  animation-delay: 0.3s;
}

.circle:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes bouncing {
  0% {
    border-radius: 25px 25px 25px 25px;
    transform: translateY(60px);
    height: 50px;
  }
  49% {
    height: 20px;
    border-radius: 50%;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 18px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 400ms;
}
.button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.8;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F7F7F7;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  margin: 40px 0px 50px 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  margin: 12px 17px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.cards img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-height: 70%;
  object-fit: cover;
}
.cards__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 12px 13px;
}
.cards__body i {
  font-size: 22px;
}
.cards__body__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
}
.cards__body p {
  font-weight: 300;
  font-size: 17px;
}

.like-button {
  position: relative;
  z-index: 1;
  opacity: 1;
  -webkit-background-clip: text;
}

.like-button--full {
  cursor: pointer;
}

.like-button:hover {
  transition: color 0.5s linear;
  color: transparent;
}

.like-button--full::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: transparent;
  -webkit-background-clip: text;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.like-button--full:hover::before {
  opacity: 1;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */