// Color variations

// 3 main colors
$main-color: #9356DC;
$secondary-color:#FF79DA;
$third-color: #99E2D0;

// Background variations
$background-color-1: #FFFFFF;
$background-color-2:#EAEAEA;
$background-color-3:#D2D2D2;

// ----------------